.addProduct{
    font-size:xx-large;
    display: flex;
    justify-content: center;
}

/*
.registerDesign {

    height: 100vh;
    width: 100vw;

    background-color: lightgrey;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.basicInput {

    margin: 1em;

    height: 3em;
    width: 18em;

    border-radius: 5%;

    border: 0.2em solid darkcyan;
}

.basicInputError {

    border: 0.2em solid red;

}

.msgError {
    color: red;
}
*/
