.formDesign {
  height: 90vh;
  width: 100vw;
  background-color: rgb(139, 202, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;


 
}

.button {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
  
}

.basicInput {
  margin: 1em;

  height: 3em;
  width: 18em;

  border-radius: 5%;

  border: 0.2em solid darkcyan;
}

.basicInputError {
  border: 0.2em solid red;
}

.msgError {
  color: red;
}
