.productInfoDesign {
    height: 30rem;
    width: 30em;
    margin-top: 2em;
    background-color:darkcyan; /*just for test*/
   
    flex-direction: column;
 
    font-family: sans-serif;
    justify-content: center;

}

.priceAndDescription{


    font-size: x-large;
    

}


.description {

    font-size: larger;
}