.productInfoDesign {
  height: 30rem;
  width: 30em;
  margin-top: 2em;
  background-color: darkcyan; /*just for test*/
  flex-direction: row;
  font-family: sans-serif;
  justify-content: center;
  flex-wrap: wrap;
  
  
}

.priceAndDescription {
  font-size: x-large;
  justify-content: center;
  display: flex;
}

.description {
  font-size: larger;
  justify-content: center;
  display: flex;
}
