.catalogueDesign{


    margin-top: 0.5em;
    margin-bottom: 1em;
    display: grid;
    justify-content: center;
    overflow-y: scroll;  
    background-color: rgb(149, 180, 238);
    text-align: center;
    
    
    
}

.catalogueDesignDark{
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: grid;
    justify-content: center;
    overflow-y: scroll;  
    background-color: darkslateblue;
    text-align: center;
}
.gridAndPag{

}