.productGridDesign{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}



.imgStyle {
    height: 5rem;
    width: 5rem;
}

