.linkDesign{
    transition:0.5s;
    cursor: pointer;
    margin-bottom: 1.5rem;
    margin-right: 4rem;
    color: aliceblue;
    font-weight: 700;
    font-size: x-large;
}

.linkDesign:hover{
    transition:0.5s;
    color:grey;
}

.titleDesign{
    margin-bottom: 1.6vh;
    margin-right: 68vh;
    font-family: fantasy;
    font-weight: 900;
    font-size: 80px;
   
}

.headerDesign {
    background-color: darkcyan;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
 
   
}

.headerDesignDark{
    background-color: darkslategray;
    height: 10rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.darkThemeButtonDesign{
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}

