.linkDesign{
    transition:0.5s;
    cursor: pointer;
    margin-right: 2rem;
    margin-bottom:0.5rem;
}

.linkDesign:hover{
    transition:0.5s;
    color:grey;
}

.headerDesign {
    background-color: darkcyan;
    height: 8rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}