.productDetailDesign {
  height: 60vh;
  width: 60vh;
  background-color: rgb(160, 212, 217); /*just for test*/
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 50vh;
  display: grid;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1px;
  margin-left: 3em;
  text-align: center;
}

.image {
  margin-left: 240px;
}

.price {
  margin-left: 30px;
}


